# Excluir toda la carpeta dataAtenciones
dataAtenciones/

# Excluir archivos específicos de datos
data_modelo_profesionales.*
dataAtenciones_con_especialidad.*
dataAtenciones_unificado.parquet
cod_ipress_ipress.csv
df_cod_servicio_desc.csv
servicios_con_especialidades.csv
modelo_rf_profesionales_simple.joblib

# Excluir archivos de modelos de machine learning


# Excluir archivos de configuración local o sensible
